body {
margin: 0;
}
.container{
width: 1280px;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
text-align: center;
font-style: normal;
}
.header-wrap{


}
.menu-list{
padding-left: 33px;
margin: auto;
}

.menu-item{
display: inline-block;
padding: 0 36px;
margin: 25px 0;
}

.menu-item a {
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: red;
text-decoration: none;

}
.img-item{
margin: 0;
height: 789px;
}

.content-text{
color: #373737;

}
.title{
width: 774px;
font-size: 22px;
margin: 48px 253px 0;
letter-spacing: 3.3px;
line-height: 27px;
}
.first-text{
width: 1145px;
margin: 38px 68px 0;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
    
}
.second-text{
width: 1145px;
margin: 28px 68px 0;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
    
}
.btn{
display: inline-block;
border-radius: 4px;
margin: 66px 0 0;
width: 191px;
height: 51px;
border: none;
background: #FF0000;
font-size: 12px;
padding: 18px 43.5px 17px 42.5px;
line-height: 12px;
letter-spacing: 1.8px;
color: #fff;
   
}
.copyright-text{
margin: 82px 105px 29px 0px;
text-align: right;
color: #373737;
font-weight: bold;
letter-spacing: 2.4px;
}